*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  height: 100%;
  width: 100;
}

.content__list-container {
  max-height: 298px;
  overflow-y: scroll;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result__video-container {
  height: 402px;
  width: 711px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Oswald";
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.content__video-card-title {
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  font-family: "Fira Sans Condensed";
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  border: none;
  appearance: none;
  width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #1b1919;
  font: inherit;
  color: #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover:has(input[type="checkbox"]) {
  text-decoration: underline 1px #fff;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: Fira Sans Condensed;
  color: #fff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  display: flex;
  align-self: flex-end;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
}

.more-button {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 34px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 0px 3px;
}

.result__video-container,
.content__list-container {
  position: relative;
}
